<footer class="bg-light text-dark pt-5 pb-3">
    <div class="container">
        <div class="row">

            <!-- Dịch vụ khách hàng -->
            <div class="col-md-2">
                <h6 class="fw-bold">Dịch Vụ Khách Hàng</h6>
                <ul class="list-unstyled">
                    <li><a href="#">Trung Tâm Trợ Giúp</a></li>
                    <li><a href="#">Shopee Blog</a></li>
                    <li><a href="#">Shopee Mall</a></li>
                    <li><a href="#">Hướng Dẫn Mua Hàng</a></li>
                    <li><a href="#">Hướng Dẫn Bán Hàng</a></li>
                    <li><a href="#">Thanh Toán</a></li>
                    <li><a href="#">Shopee Xu</a></li>
                    <li><a href="#">Vận Chuyển</a></li>
                    <li><a href="#">Trả Hàng & Hoàn Tiền</a></li>
                    <li><a href="#">Chăm Sóc Khách Hàng</a></li>
                    <li><a href="#">Chính Sách Bảo Mật</a></li>
                </ul>
            </div>

            <!-- Shopee Việt Nam -->
            <div class="col-md-2">
                <h6 class="fw-bold">Shopee Việt Nam</h6>
                <ul class="list-unstyled">
                    <li><a href="#">Tuyển Dụng</a></li>
                    <li><a href="#">Điều Khoản Shopee</a></li>
                    <li><a href="#">Chính Sách Bảo Mật</a></li>
                    <li><a href="#">Chính Hãng</a></li>
                    <li><a href="#">Kênh Người Bán</a></li>
                    <li><a href="#">Flash Sales</a></li>
                    <li><a href="#">Liên Hệ Truyền Thông</a></li>
                </ul>
            </div>

            <!-- Thanh toán -->
            <div class="col-md-2">
                <h6 class="fw-bold">Thanh Toán</h6>
                <div class="d-flex flex-wrap gap-2">
                    <img src="/images/visa.png" alt="Visa" width="40">
                    <img src="/images/mastercard.png" alt="Mastercard" width="40">
                    <img src="/images/shopeepay.png" alt="ShopeePay" width="40">
                </div>
            </div>

            <!-- Vận chuyển -->
            <div class="col-md-2">
                <h6 class="fw-bold">Đơn Vị Vận Chuyển</h6>
                <div class="d-flex flex-wrap gap-2">
                    <img src="/images/ghn.png" alt="GHN" width="40">
                    <img src="/images/viettelpost.png" alt="Viettel Post" width="40">
                    <img src="/images/jt.png" alt="J&T Express" width="40">
                </div>
            </div>

            <!-- Theo dõi Shopee -->
            <div class="col-md-2">
                <h6 class="fw-bold">Theo Dõi Shopee</h6>
                <ul class="list-unstyled">
                    <li><a href="#">Facebook</a></li>
                    <li><a href="#">Instagram</a></li>
                    <li><a href="#">LinkedIn</a></li>
                </ul>
            </div>

            <!-- Tải ứng dụng -->
            <div class="col-md-2">
                <h6 class="fw-bold">Tải Ứng Dụng Shopee</h6>
                <img src="/images/qr-code.png" alt="QR Code" width="80">
                <div class="d-flex gap-2 mt-2">
                    <img src="/images/appstore.png" alt="App Store" width="30">
                    <img src="/images/googleplay.png" alt="Google Play" width="30">
                    <img src="/images/appgallery.png" alt="AppGallery" width="30">
                </div>
            </div>

        </div>

        <!-- Ghi chú cuối footer -->
        <div class="text-center mt-4">
            <p class="mb-0">© 2023 Shopee. Tất cả các quyền được bảo lưu.</p>
            <small>Quốc gia & Khu vực: Indonesia | Thailand | Taiwan | Malaysia | Việt Nam | Philippines | Brazil |
                Mexico | Colombia | Chile</small>
        </div>
    </div>
</footer>